* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

:root {
  --verydarkgrayishblue: hsl(217, 19%, 35%);
  --desaturateddarkblue: hsl(214, 17%, 51%);
  --grayishblue: hsl(212, 23%, 69%);
  --lightgrayishblue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  background-color: var(--lightgrayishblue);
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  height: 100%;
  width: 100%;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  position: relative;
  width: 740px;
  height: 278px;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article-container-img {
  height: 100%;
  flex-basis: 39%;
  overflow: hidden;
  border-radius: 1em 0 0 1em;
  max-width: fit-content;
}

.article-image-position {
  height: 100%;
}

.article-container-details {
  flex-basis: 61%;
  background-color: var(--white);
  border-radius: 0 1em 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  padding: 2.5em 3.3em 2.5em 3em;
}

.article-title {
  font-size: 1.58rem;
  line-height: 135%;
  font-weight: 700;
  color: var(--verydarkgrayishblue);
}

.article-desc {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--grayishblue);
}

.article-contact {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4em;
}

.avatar-image {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  flex-shrink: 0;
}

.contact-name {
  font-size: 1rem;
  font-weight: 700;
  line-height: 135%;
  color: var(--verydarkgrayishblue);
}

.contact-postdate {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--grayishblue);
}

.container-sharebtn {
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shareicons {
  visibility: hidden;
  position: absolute;
  width: 250px;
  height: 50px;
  top: 10.3em;
  left: 42.6em;
  background-color: var(--verydarkgrayishblue);
  border-radius: 1em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.triangle {
  visibility: hidden;
  position: absolute;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  top: 13.3em;
  left: 52em;
  background-color: var(--verydarkgrayishblue);
}

.share-text {
  color: var(--grayishblue);
  letter-spacing: 0.4em;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.sharebtn {
  background-color: var(--lightgrayishblue);
}

.shareicon {
  filter: brightness(1) invert(0);
}

.sharebtn-active {
  background-color: var(--desaturateddarkblue);
  z-index: 1;
}

.shareicon-active {
  filter: brightness(0) invert(1);
  z-index: 1;
}

.attribution {
  font-size: 11px;
  text-align: center;
  min-height: 5vh;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 767px) {
  .article {
    position: relative;
    width: 326px;
    height: 545px;
    margin: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .article-container-img {
    width: 100%;
    flex-basis: 37%;
    border-radius: 1em 1em 0 0;
  }

  .article-image-position {
    width: 100%;
    height: auto;
    position: relative;
    top: -6%;
  }
  .article-container-details {
    flex-basis: 57%;
    padding: 2.7em 2.4em 1.5em 2.3em;
    border-radius: 0 0 1em 1em;
  }

  .article-title {
    font-size: 1.27rem;
    line-height: 145%;
    color: var(--verydarkgrayishblue);
  }

  .article-desc {
    font-size: 1.03rem;
    font-weight: 500;
    line-height: 145%;
  }

  .contact-name {
    line-height: 150%;
  }

  .contact-postdate {
    font-weight: 500;
  }

  .shareicons {
    position: absolute;
    width: 326px;
    height: 5rem;
    padding: 0 2.4em 1em 2.3em;
    top: 35.7em;
    left: 0;
    background-color: var(--verydarkgrayishblue);
    display: flex;
    flex-direction: row;
    border-radius: 0 0 1em 1em;
    justify-content: start;
    align-items: center;
    gap: 1.5em;
  }

  .triangle {
    display: none;
  }
}
