* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

:root {
  --verydarkgrayishblue: hsl(217, 19%, 35%);
  --desaturateddarkblue: hsl(214, 17%, 51%);
  --grayishblue: hsl(212, 23%, 69%);
  --lightgrayishblue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  background-color: var(--lightgrayishblue);
  font-size: 100%;
  font-family: "Manrope", sans-serif;
  height: 100%;
  width: 100%;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  position: relative;
  margin: 2rem;
  width: 45.5rem;
  height: 17.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article-container-img {
  height: 100%;
  flex-basis: 39%;
  overflow: hidden;
  border-radius: 1em 0 0 1em;
  max-width: fit-content;
}

.article-image-position {
  height: 100%;
}

.article-container-details {
  flex-basis: 61%;
  background-color: var(--white);
  border-radius: 0 1em 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8em;
  padding: 2em 2.5em 1.8em 2.5em;
}

.article-title {
  font-size: 1.28rem;
  line-height: 135%;
  font-weight: 700;
  color: var(--verydarkgrayishblue);
}

.article-desc {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--grayishblue);
}

.article-contact {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.avatar-image {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  flex-shrink: 0;
}

.contact-name {
  font-size: 0.82rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--verydarkgrayishblue);
}

.contact-postdate {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--grayishblue);
}

.container-sharebtn {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-style: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shareicons {
  visibility: hidden;
  position: absolute;
  min-width: 15.3rem;
  min-height: 3.5rem;
  top: 8.1rem;
  right: -3.8rem;
  background-color: var(--verydarkgrayishblue);
  border-radius: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.triangle {
  visibility: hidden;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  rotate: 45deg;
  top: 10.8rem;
  right: 2.8rem;
  background-color: var(--verydarkgrayishblue);
}

.share-text {
  color: var(--grayishblue);
  letter-spacing: 0.4em;
  font-size: 0.8rem;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.sharebtn:hover {
  cursor: pointer;
}

.sharebtn {
  background-color: var(--lightgrayishblue);
}

.shareicon {
  filter: brightness(1) invert(0);
}

.sharebtn-active {
  background-color: var(--desaturateddarkblue);
  z-index: 1;
}

.shareicon-active {
  filter: brightness(0) invert(1);
  z-index: 1;
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
//   min-height: 5vh;
// }

// .attribution a {
//   color: hsl(228, 45%, 44%);
// }

@media only screen and (max-width: 47.9rem) {
  .article {
    position: relative;
    padding: 0;
    width: 20.4rem;
    height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .article-container-img {
    width: 100%;
    flex-basis: 37%;
    border-radius: 1em 1em 0 0;
  }

  .article-image-position {
    width: 100%;
    height: auto;
    position: relative;
    top: -7%;
  }
  .article-container-details {
    flex-basis: 57%;
    padding: 2.3em 2.1em 1.1em 2em;
    border-radius: 0 0 1em 1em;
  }

  .article-title {
    font-size: 1rem;
    line-height: 150%;
    color: var(--verydarkgrayishblue);
  }

  .article-desc {
    font-size: 0.83rem;
    font-weight: 500;
    line-height: 150%;
  }

  .contact-name {
    line-height: 150%;
  }

  .contact-postdate {
    font-weight: 500;
  }

  .shareicons {
    position: absolute;
    width: 100%;
    min-height: 4.4rem;
    padding: 0 2.4em 0 2.3em;
    top: 28.6rem;
    right: 0;
    background-color: var(--verydarkgrayishblue);
    display: flex;
    flex-direction: row;
    border-radius: 0 0 1em 1em;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
  }

  .triangle {
    display: none;
  }
}
